<header id="header" class="top-bar h-[80px] bg-[#afafaf]">
    <div class="con mx-auto">
        <nav class="menu-box-1">
         <ul class="flex h-full">
             <li><a href="#" class="flex items-center h-full px-3">메뉴 아이템1</a></li>
             <li><a href="#" class="flex items-center h-full px-3">메뉴 아이템2</a></li>
             <li><a href="#" class="flex items-center h-full px-3">메뉴 아이템3</a></li>
             <li><a href="#" class="flex items-center h-full px-3">메뉴 아이템4</a></li>
         </ul>
        </nav>
    </div>
</header>
