<!--회원가입 페이지-->
<!--register.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}"></th:block>
<th:block th:fragment="content"></th:block>
<head>
    <meta charset="UTF-8">
<title>회원가입</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script>
        $(document).ready(function() {
            var isAlreadyUsed = true;
            var checkLength = false;
            var pwCheck = false;

            $("#inputId").on("input" , function(){
                var inputId = $("#inputId").val();
                if(inputId.length < 4 || inputId.length > 12){
                    $("#idStatus").text("아이디는 4~12글자 이내여야 합니다.");
                    checkLength = false;
                }
                else{
                    $("#idStatus").text("");
                    checkLength = true;
                }
            })


            $("#btnCheckId").on("click" , function(){
                isAlreadyUsed = true;
                if( checkLength == false){
                    return;
                }

                var inputId = $("#inputId").val();

                $.ajax({
                    url : '/member/getMember/' + inputId,
                    type : 'get',
                    success : function(data){
                        isAlreadyUsed = true;
                        alert ("이미 존재하는 아이디 입니다.");
                    },
                    error : function(data){
                        isAlreadyUsed = false;
                        alert("사용 가능한 아이디 입니다.");
                    }
                })
            })

           $("#inputPw , #inputPwCfm").on("input" , function(){
                pwCheck = false;
                var newPw = $("#inputPw").val();
                var confirm = $("#inputPwCfm").val();
                if(newPw.length < 4 || newPw.length > 12){
                    $("#pwStatus").text("비밀번호는 4~12글자 이내여야 합니다.");
                    pwCheck = false;
                    return;
                }
                if( newPw != confirm){
                    $("#pwStatus").text("비밀번호가 일치하지 않습니다");
                }
                else{
                    $("#pwStatus").text("비밀번호가 일치 합니다.");
                    pwCheck = true;
                }
          });

            $("#btnJoinComp").on("click" , function() {
                if( isAlreadyUsed == true ){
                    alert("아이디 중복 확인이 필요합니다.");
                    return;
                }
                if(pwCheck != true){
                    alert("비밀번호를 확인해 주세요");
                    return;
                }
                var memberId = $("#inputId").val();
                var memberName = $("#inputName").val();
                var memberEmail = $("#inputEmail").val();
                var memberPw = $("#inputPw").val();

                var member = {
                    memberId : memberId,
                    memberName : memberName,
                    memberEmail : memberEmail,
                    memberPw : memberPw
                }

                console.log(member);

                $.ajax({
                    url : "/member/join",
                    type : 'POST',
                    data : JSON.stringify(member),
                    contentType : 'application/json; charset=utf-8',
                    success: function() {
                        window.location.href = "/";
                    }
                })


            })
        })
    </script>
</head>
<body>
<form method="post" action="/join">
    <div class="container">
<div class="title">
        <h2>회원가입</h2>
    </div>
        <div class="box">
            <div class="form-group">
                <ul>
                    <label for="inputId">ID</label>
                    <input type="text" class="form-control" id="inputId" autofocus name="userId" maxlength=12 size=30 placeholder="아이디(4~12글자 이내)" required>
                    <span id = "idStatus"></span>
                    <button type = "button" id = "btnCheckId">중복 확인</button>
                </ul>
            </div>

            <div class="form-group">
                <ul>
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" name="userName" maxlength=8 size=30 placeholder="이름" required>
                </ul>
            </div>

            <div class="form-group">
                <ul>
                <label for="inputEmail">E-mail</label>
                <input type="text" class="form-control" id="inputEmail" name="userEmail" size=30 placeholder="이메일" required>
                </ul>
            </div>

            <div class="form-group">
                <ul>
                    <label for="inputPw">Password</label>
                    <input type="password" class="form-control" id="inputPw" name="userPw" maxlength=12 size=30 placeholder="비밀번호(4~12글자 이내)" required>
                    <span id = "pwStatus"></span>
                </ul>
            </div>

            <div class="form-group">
                <ul>
                <label for="inputPwCfm">Password Confirm</label>
                <input type="password" class="form-control" id="inputPwCfm" name="userPwConfirm" size=30 placeholder="비밀번호 확인" required>
                </ul>
            </div>
            <div class="join_button">
                <button type="button" class="btn btn-secondary btn-lg" id="btnJoinComp">회원 가입</button>
            </div>
        </div>
    </div>
</form>

<style>
    .title_name{
text-align:left;
margin-top:30px;
padding-top:50px;
padding-bottom:20px;
width:700px;
margin: 0 auto;
}

       .box{
    background-color: #fff;
    margin-top:10px;
    width:700px;
    margin: 0 auto;
    padding-top:20px;
    padding-bottom:30px;
    border: 1px solid black;
    border-radius: 8px;
     font-family: Arial, sans-serif;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    }

    .form-group{
font-size:18px;
width:400px;
display:flex;
margin: 0 auto;
margin-top:5px;
padding:10px;

}

.join_button{
padding-top: 40px;
text-align:center;
font-size:34px;

}

    .form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }



    .title{
    text-align:center;
    margin-top:50px;
    padding-top:50px;
    padding-bottom:20px;
    width:1000px;
    margin: 0 auto;

    }
</style>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>