<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}"></th:block>
<th:block th:fragment="content"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <form class = "logoutForm" action = "/logout.do" method = "post">
        <H1> 로그아웃하시겠습니까?</H1>
        <input type = "submit" id = "logout" value="로그아웃"/>
    </form>
</body>
</html>