<!DOCTYPE html>

<html xmlns:th="thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>member_list</title>
</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>이메일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.memberId}"></td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.memberEmail}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>